.mobile__btn {
    @media screen and (min-width: 100px){
        border: none;
    background-color: var(--main-bg-color);
    cursor: pointer;
    }
    
    @media screen and (min-width: 768px) {
        display: none;
    }

    @media screen and (min-width: 1200px) {
        display: none;
    }
}