.mobile__btn {    
        border: none;
        background-color: var(--main-bg-color);
        cursor: pointer;
   
    
    @media screen and (min-width: 768px) {
        display: none;
    }

    @media screen and (min-width: 1200px) {
        display: none;
    }
}
.is-open{
    opacity: 4;
    visibility: visible;
}

.mobile-btn__close{
    @media screen and (min-width: 100px) {
        position: absolute;
        right: 3%;
        top: 3%;
        width: 30px;
        height: 30px;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        transition-property: opacity, background-color, fill, visibility, border-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover,
        &:focus {
            transition-property: opacity, background-color, fill, visibility, border-color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        &:hover .modal-icon,
        &:focus .modal-icon {
            fill: var(--main-hover-color);
            transition-property: opacity, background-color, fill, visibility;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
        }
    }
    
    @media screen and (min-width: 768px) {display: none;}
    
    @media screen and (min-width: 1200px) {display: none;}
}

.mobile__menu{
    position: fixed;
    min-width: 100%;
    background-color: var(--main-bg-color);    
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 250ms ease 0s;
    min-height: 100%;
    transition-property: opacity, background-color, box-shadow, visibility;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and (min-width: 768px) {
            display: none;
        }
    
    @media screen and (min-width: 1200px) {
            display: none;
        }
}

.is-open {
    visibility: visible;
    opacity: 2;
}
.mobile__overlay{
    margin-top: 48px;
    margin-left: 40px;
}

.mobile__nav{
    flex-direction: column;
    margin-bottom: 274px;
}
.mobile__nav__item{
    margin-bottom: 32px;
}

.mobile__nav__link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    text-decoration: none; 
    &:hover,
    &:focus {
        color: var(--main-hover-color);
        transition-property: color, background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
}
.active{
    color: var(--main-hover-color);
}

.mobile__contacts{
    flex-direction: column;
    margin-bottom: 32px;
}
.mobile__contacts__item{
    margin-bottom: 32px;
}
.mobile__contacts__tel{
    color: var(--main-hover-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-decoration: none;    
}

.mobile__contacts__mail{
    color: var(--contacts-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.mobile__social{
    gap: 10px;
    flex-wrap: wrap;
    margin-right: 15%;
}

.mobile__social__link{
    color: var(--main-hover-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    text-decoration: none;        
}
.mobile__social__item:not(:last-child) .mobile__social__link{
    display: flex;
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
}

