.team {
    background-color: var(--second-bg-color);
}
.team_block{
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}
.boxes-team {
    padding: 30px;
}

.main-title-2 {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
    @media screen and (min-width: 1200px) {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
        margin-bottom: 50px;}
}

.team-man {
    background-color: var(--main-bg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    @media screen and (max-width: 767px) {
        width: 450px;
    }
    
    @media screen and (min-width: 768px) {
        width: 354px;
    }
    
    @media screen and (min-width: 1200px) {
        width: 270px;
    }
}
.team-man img{
    @media screen and (max-width: 767px) {
        width: 450px;
        
    }
    
    @media screen and (min-width: 768px) {
        width: 354px;
        
    }
    
    @media screen and (min-width: 1200px) {
        width: 270px;
        
    }
}
.boxes-team_title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    padding-bottom: 10px;
}

.boxes-team__text {
    color: var(--contacts-color);
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    outline: none;
    transition-property: color, background-color, box-shadow, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--main-hover-color);
    fill: var(--main-bg-color);
    transition-property: color, background-color, box-shadow, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
    &:focus svg.socials-icon,
    &:hover svg.socials-icon {
    fill: var(--main-bg-color);
    transition-property: color, background-color, box-shadow, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
}

.socials-icon {
    width: 20px;
    height: 20px;
    fill: var(--social-background);
    transition-property: color, background-color, box-shadow, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}