header {
    border-bottom: 2px solid var(--border-line-header);
    width: 100%; 
    position: fixed;
    z-index: 5;
    background-color: var(--main-bg-color);
    
}

.header-block {
    @media screen and (max-width: 767px) {
        display: flex;
        justify-content: end;
        height: 60px;
        align-items: center;
    }
    
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: end;
        height: 80px;
        align-items: center
        }
        
    @media screen and (min-width: 1200px) {
        display: flex;
        justify-content: end;
        height: 80px;
        align-items: center
    }
}
 
.logo {
    margin-right: auto;
}

.logo__link {
    display: block;
    color: var(--main-text-color);
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.19;
    text-decoration: none;
    @media screen and (min-width: 1200px) {
        display: block;
        color: var(--main-text-color);
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        text-decoration: none;}
}

.logo__text {
    color: var(--main-hover-color);
}


.navigation-title {
    @media screen and (min-width: 768px) {
    gap: 50px;
    }
    @media screen and (min-width: 1200px) {
    gap: 50px;
    }    
}
.contacts__title{
    @media screen and (min-width: 1200px) {
    gap: 50px;
    }
}
.navigation {
    
        @media screen and (max-width: 767px) {
            display: none;
        }
    
        @media screen and (min-width: 768px) {
            display: block;
        }
    
        @media screen and (min-width: 1200px) {
            display: block;
            margin-left: 10%;
        }
}

.navigation__list {
    position: relative;
}

.navigation__link {
    color: var(--main-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    outline: none;
    transition-property: color, background-color, box-shadow, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:after {
    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

    &:hover,
    &:focus {
    color: var(--main-hover-color);
    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
    &:hover:after,
    &:focus:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--main-hover-color);
    opacity: 1;
    transition-property: background-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

}
.navigation__link__index{
    color: var(--main-hover-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    outline: none;
    transition-property: color, background-color, box-shadow, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}
.navigation__link__index:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--main-hover-color);
    opacity: 1;
    transition-property: background-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link__portfolio {
    color: var(--main-hover-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    outline: none;
    transition-property: color, background-color, box-shadow, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link__portfolio:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--main-hover-color);
        opacity: 1;
        transition-property: background-color, color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
.contacts {
    @media screen and (max-width: 767px) {
        display: none;
    }
    @media screen and (min-width: 768px) {
        display: inline-flex;
        padding-left: 70px;
        transition-property: color, background-color, box-shadow, fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    @media screen and (min-width: 1200px) {
        display: block;
        margin-left: 20%;
        padding-left: 0;
        margin-left: 20%;
        transition-property: color, background-color, box-shadow, fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.contacts__title {
    
    @media screen and (min-width: 768px) {
    flex-direction: column;
    gap: 10px;
    }
    @media screen and (min-width: 1200px) {
    display: block;
    }
}
.contacts__item{
    @media screen and (min-width: 1200px) {
    margin-left: 30px;
    }
    
}
.contacts__link {
    color: var(--contacts-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    outline: none;
    transition-property: color, background-color, box-shadow, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

&:hover .icon__mail,
&:hover .icon__phone {
    fill: var(--main-hover-color);
    color: var(--main-hover-color);
    transition-property: color, background-color, box-shadow, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
&:hover,
&:focus {
    fill: var(--main-hover-color);
    color: var(--main-hover-color);
    transition-property: color, background-color, box-shadow, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
}

.icon__mail,
.icon__phone {
    display: inline-block;
    fill: var(--contacts-color);
    margin-right: 10px;
    transition-property: color, background-color, box-shadow, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}