.main-screen {
    
    @media screen and (max-width: 767px) {
            height: 400px;
            width: auto;
            padding-top: 118px;
            padding-bottom: 188px;
            background: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background/img@1x_sm.jpg);
            background-repeat: no-repeat;
            background-position: center center;
            align-items: center;
            text-align: center;
    }
    
    @media screen and (min-width: 768px) {
        height: 400px;
        width: auto;
        padding-top: 118px;
        padding-bottom: 188px;
        background: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background/img@1x_md.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        align-items: center;
        text-align: center;
    }
    
    @media screen and (min-width: 1200px) {
    height: 600px;
    width: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    background: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background/img@2x_ld.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    align-items: center;
    text-align: center;
    }
}

.main-screen__title {
    @media screen and (max-width: 767px) {
        color: var(--main-bg-color);
        margin-bottom: 30px;
        font-weight: 900;
        font-size: 26px;
        line-height: 1.61;
        letter-spacing: 0.06em;
        text-transform: uppercase;}
    
    @media screen and (min-width: 768px) {
        color: var(--main-bg-color);
        margin-bottom: 30px;
        font-weight: 900;
        font-size: 26px;
        line-height: 1.61;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    }
    
    @media screen and (min-width: 1200px) {
    color: var(--main-bg-color);
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
}

.main-screen__button {
    color: var(--main-bg-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    background: var(--main-hover-color);
    border-radius: 4px;
    padding: 10px 32px;
    cursor: pointer;
    outline: none;
    border: 1px solid var(--main-hover-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition-property: color, background-color, box-shadow, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    color: var(--main-text-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    background: var(--second-bg-color);
    border-radius: 4px;
    padding: 10px 32px;
    border: 1px solid var(--second-bg-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition-property: color, background-color, box-shadow, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
}

