body {
    margin: auto;
    font-family: "Roboto", Arial, sans-serif;
    border: 1px solid var(--border-block-color);
    color: var(--main-text-color);
}

.no-scroll {
    overflow: hidden;
}

h1, h2, h3 {
    margin: 0;
}

p {
    margin: 0;
}

img {
    display: block;
}

svg {
    margin: 0;
    padding: 0;
}

ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
}

.container {
    margin: 0 auto;
    padding: 0 15px;

    @media screen and (min-width: 100px) {
        max-width: 480px;
    }
    @media screen and (min-width: 768px) {
        max-width: 768px;
    }
    @media screen and (min-width: 1200px) {
        max-width: 1200px;
    }
}

.section {
    @media screen and (min-width: 100px) {
        padding-top: 60px;
        padding-bottom: 60px;
        }
    
    @media screen and (min-width: 768px) {
            padding-top: 60px;
            padding-bottom: 60px;
        }
    
        @media screen and (min-width: 1200px) {
            padding-top: 94px;
            padding-bottom: 94px;
        }
}

.u-vh {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}