:root {
    --main-bg-color: #ffff;
    --main-text-color: #212121;
    --main-hover-color: #2196f3;
    --contacts-color: #757575;
    --second-bg-color: #f5f4fa;
    --border-line-header: #ececec;
    --content-bg-color: #2f303a;
    --border-block-color: #eeeeee;
    --social-background: #afb1b8;
}